---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Short Threads - Al Harkan";
const description = "Collection of Short Threads by Al Harkan";
const permalink = `${Astro?.site?.href}short`;
import { tweetEmbeds } from "../data/tweet-shorts.ts";

---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="shorts"
>
  <div class="container">
    <h1>Collection of Short Threads</h1>
    <p>
      <b
        >Go to my <a
          href="https://x.com/alhrkn"
          target="_blank"
          rel="noopener noreferrer">Highlights</a
        > for more updated list.</b
      >
    </p>
    <small>Open any tweet to read the full threads.</small>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <div class="tweets-container">
      {tweetEmbeds.map((embed) => <Fragment set:html={embed} />)}
    </div>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }

  .tweets-container {
    display: grid;
    gap: 1rem;
  }
</style>
